@import '~/static/scss/default.scss';

.m-aside{
    width: 100vw !important;    
    height: 100vh;    
    z-index: 999;
    padding-top: 60px;
    @include tablet(){
        padding-top: 80px;
    }
    @include screen(){
        width: 335px !important;
        height: 100% !important;
    }
    .company-logo{
        margin-left: 130px;
        margin-bottom: 50px;
    }
    .bar-menu{
        margin-bottom: 45px;
        margin-left: 50px;
        margin-top: 20px;
        @include tablet(){
            margin-left: 130px;
        }
    }
    .nav-menu{
        margin-left: 50px;
        padding-bottom: 50px;
        @include tablet(){
            margin-left: 130px;
            padding-bottom: 80px;
        }
        .nav-item{
            display: flex;
            align-items: center;
            background-color: $brand;
            padding-left: 15px;            
            position: relative;
            &:not(:last-child){
                margin-bottom: 25px;
            }
            &:before{
                @include flow(0.1);
                position: absolute;
                content: '';
                background-color: white;
                width: 50px;
                height: 0px;
                left: 0px;
                z-index: -1;
                @include tablet(){
                    width: 130px;
                    height: 1px;
                    left: 0px;                   
                }
            }
            .menu-link{
                &.soon{
                    position: relative;
                    overflow: visible;
                    &::after{
                        position: absolute;
                        top: -15px;
                        right: -20px;
                        font-size: rem(10);
                        content: 'скоро';
                        text-transform: uppercase;
                        background-color: white;
                        color: $brand;
                        font-weight: 700;
                        padding: 0 3px;
                        border-radius: 3px;
                    }
                }
            }
            img{
                @include flow(0.15);
                width: 20px;
                margin-right: 8px;
                opacity: 0.6;
            }
            a{
                @include flow(0.15);
                padding: 0;
                opacity: 0.6;
            }
            &:hover,&.current{                
                img{
                    @include flow;
                    opacity: 1;
                }
                a:not(.sub-menu){
                    @include flow;
                    opacity: 1;
                    border-color: transparent;
                }                
            }
            &.current{
                &:before{
                    height: 1px;
                    @include flow;
                    left: -50px;
                    z-index: -1;
                    @include tablet(){
                        left:-130px;                   
                    }
                }
            }
            &.combine{
                height: 85px; 
                flex-wrap: wrap;
                .menu-link{
                    img{
                        height: 16px;
                        transform: rotate(0deg);
                        margin-left: 7px;
                        @include flow;  
                        @include tablet(){
                            transform: rotate(-90deg);
                        }                      
                    }
                }
                .sub-menus{                        
                    opacity: 1;
                    .sub-menu{
                        margin-top: 10px;
                        img{
                            transform: rotate(0deg);
                        }
                    }
                }
                &.current{  
                    height: 85px;                  
                    .sub-menus{                        
                        .sub-menu{
                            opacity: 0.6;
                            &.current{
                                opacity: 1;
                                border-color: transparent;
                            }
                        }
                    }
                }
                &:before{
                    top: 12px;
                }
            }
        }
    }
}