//***COLORS

$black:#101214;
$dark-shade:#4E5357;
$light-shade:#F2F2F2;
$input: #cbcbcb;
$light: #eef1f5;
$shade:rgb(214, 214, 214);
$mid-grey:#eef0f5;
$brand:#2D5EBB;
$white:#FFFFFF;
$overlay:rgba(23, 27, 30, 0.9);
$error: #fc4848;
$green:#2DAD51;
$warning: #ffb11f;
$viber: #a418b1